#slider {
  .slider {
    img {
      width: 100%;
      animation: cssAnimation 9s ease-in-out forwards;
      animation-iteration-count: infinite;
    }
    @extend %slider-focus-none;
    @extend %slider-arrows;
    i[class*="fa-long"] {
      top: 45%;
    }
    i[class*="right"] {
      right: 15px;
    }
    i[class*="left"] {
      left: 15px;
    }
  }
  .slider-text {
    @extend %textSpecial;
    position: absolute;
    left: 11%;
    top: 18vh;
    z-index: 10;
    p {
      max-width: 400px;
    }
    .width-min {
      min-width: 150px;

      max-width: 347px;
    }
  }
}
@media (max-width:1240px){
  .slider-text {
    top: 130px;
    left: 15px;
    font-size: 30px !important;
    p {
      font-size: 14px!important;
      line-height: 1;
      min-width: 150px;
      max-width: 300px;
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  #slider {
    .slider {
      div {
        height: 100vh;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .slider-text {
      top: 130px;
      left: 15px;
      font-size: 30px !important;
      p {
        font-size: 17px!important;
        min-width: 150px;
        max-width: 300px;
      }
    }
    .slick-dots {
      position: absolute;
      left: 46%;
      top: 88%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 1rem 0;
      list-style-type: none;
      li {
        margin: 0 0.25rem;
      }
      button {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: black;
        text-indent: -9999px;
        outline: none;
      }
      li.slick-active button {
        width: 0.6rem;
        height: 0.6rem;
      }
    }
  }
}
@media (max-width:556px){
  .slider-text {
    top: 130px;
    left: 15px;
    font-size: 16px !important;
    p {
      font-size: 10px!important;
      line-height: 1;
    }
  }
}
@keyframes cssAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
