$first-font: "Montserrat";
$second-font: "Playfair Display";
$font-lora: "Lora";
$colorGray: #8d8d8d;
$font-size: 12px;
$breakpoint-tablet: 1040px;
$breakpoint-mobile: 768px;
$colorMoothRed: #f34f3f;
$bgColor: #f7f7f7;
$bgColor-second: #fafaf9;
