@import "partials/variables";
@import "partials/extends";
@import "components/navbar";
@import "components/slider";
@import "components/filter";
@import "components/valentine";
@import "components/flower";
@import "components/email";
@import "components/blog";
@import "components/slider-florist";
@import "components/instagram-slider";
@import "components/footer";
@import "components/tabs";
@import "components/shop-list";
@import "components/product-list";
@import "components/accordions";
@import "components/progress-bar";
* {
  margin: 0;
  padding: 0;
}

::selection {
  color: white;
  background: $colorMoothRed;
}

.to-top {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 40px;
  right: 40px;
  background-color: $colorMoothRed;
  display: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 998;
  i {
    color: white;
    font-size: 15px;
  }
}
